
html {
    font-size: 22px;
}

body {
    background-color: palevioletred;
    color: #6f10eb;
}

a {
    color: #6f10eb;
}

a:visited {
    color: lightgrey;
}

a:hover, a:active {
    color:#eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}